/* Nav-bar*/
.navbar-bg-color{
    background-color: #05ace7;
}
.font{
    font-family: 'Playfair Display', serif;
}
.nav-link{
    font-family: 'Times, Times New Roman', serif;
    font-size: 1.2em;
}
.nav-link:hover{
    color: white;
}
/* Nav-bar*/

/* Carousel */
.my-carousel{
    padding: 0;
}

.my-carousel .carousel-item{
    display: flex;
    max-height: 500px;
}

.my-carousel .carousel-item img{
    object-fit: cover;
}
/* Carousel */

/* footer */
footer{
    background-color: #343434;
    padding-top: 35px;
    padding-bottom: 10px;
    font-family: 'Times, Times New Roman', serif;
    font-size: 1em;
}
.container h5{
    color: #ccc;
    text-transform: uppercase;
    border-bottom: 1px solid #666;
}
.container a{
    text-decoration: none;
    transition: all .3s;
}
.container a:hover{
    color: #fff;
    text-decoration: underline;
}
.container a, .container li{
    color: #c8c8c8;
}

/* footer */