/* Nav-bar*/
.navbar-bg-color{
    background-color: #05ace7;
}
.font{
    font-family: 'Playfair Display', serif;
}
.nav-link{
    font-family: 'Times, Times New Roman', serif;
    font-size: 1.2em;
}
.nav-link:hover{
    color: white;
}
/* Nav-bar*/

/* Carousel */
.my-carousel{
    padding: 0;
}

.my-carousel .carousel-item{
    display: flex;
    max-height: 500px;
}

.my-carousel .carousel-item img{
    object-fit: cover;
}
/* Carousel */

/* footer */
footer{
    background-color: #343434;
    padding-top: 35px;
    padding-bottom: 10px;
    font-family: 'Times, Times New Roman', serif;
    font-size: 1em;
}
.container h5{
    color: #ccc;
    text-transform: uppercase;
    border-bottom: 1px solid #666;
}
.container a{
    text-decoration: none;
    transition: all .3s;
}
.container a:hover{
    color: #fff;
    text-decoration: underline;
}
.container a, .container li{
    color: #c8c8c8;
}

.link-ico a:hover{
    text-decoration: none;
}
/* footer */

/* Main home*/
main{
    font-family: 'Times, Times New Roman', serif;
}
.main-text-p{
    font-size: 19px;
}
.img-center{
    text-align: center;
}
.row-shadow{
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.list-counter-circle{
    list-style: none;
    counter-reset: list;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.list-counter-circle>li{
    position: relative;
    display: block;
    height: 2rem;
    line-height: 2rem;
    margin-left: 1.75rem;
    margin-bottom: .25rem;
    padding-left: 1rem;
    padding-right: .5rem;
    color: #fff;
    background: #05ace7;
    /*white-space: nowrap;*/
    border-right: .25rem;
}
.list-counter-circle>li:last-child{
    margin-bottom: 0;
}
.list-counter-circle>li:before{
    content: counter(list);
    counter-increment: list;
    position: absolute;
    left: -2rem;
    top: -.25rem;
    bottom: -.25rem;
    width: 2.5rem;
    line-height: 2rem;
    border-radius: 1.25rem;
    border: .25rem solid #fff;
    text-align: center;
    color: #fff;
    background: #05ace7;
}
.h2-li{
    font-size: 22px;
}
.h2-li a{
    color: #05ace7;
}
.h2-li a:hover{
    color: #05ace7;
}

/* Main */