/* Nav-bar*/
.navbar-bg-color{
    background-color: #05ace7;
}
.font{
    font-family: 'Playfair Display', serif;
}
.nav-link{
    font-family: 'Times, Times New Roman', serif;
    font-size: 1.2em;
}
.nav-link:hover{
    color: white;
}
/* Nav-bar*/

/* Carousel */
.my-carousel{
    padding: 0;
}

.my-carousel .carousel-item{
    display: flex;
    max-height: 500px;
}

.my-carousel .carousel-item img{
    object-fit: cover;
}
/* Carousel */

/* footer */
footer{
    background-color: #343434;
    padding-top: 35px;
    padding-bottom: 10px;
    font-family: 'Times, Times New Roman', serif;
    font-size: 1em;
}
.container h5{
    color: #ccc;
    text-transform: uppercase;
    border-bottom: 1px solid #666;
}
.container a{
    text-decoration: none;
    transition: all .3s;
}
.container a:hover{
    color: #fff;
    text-decoration: underline;
}
.container a, .container li{
    color: #c8c8c8;
}

.link-ico a:hover{
    text-decoration: none;
}
/* footer */

/* Main home*/
main{
    font-family: 'Times, Times New Roman', serif;
}
.main-text-p{
    font-size: 19px;
}
.img-center{
    text-align: center;
}
.row-shadow{
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.list li{
    color: #1a202c;
    font-size: 19px;
    list-style: none;
}
/* Main */